[Unit]
Description=Renew Let's Encrypt certificates for mikeandwan.us

[Service]
Type=oneshot
ExecStart=podman run --rm --pull newer --pod {{ pod }} --volume {{ dir_certbot }}:/var/www/certbot:rw,z --volume {{ dir_letsencrypt }}:/etc/letsencrypt:rw,z --volume {{ dir_letsencrypt_logs }}:/var/log/letsencrypt:rw,z --volume {{ dir_letsencrypt_work }}:/var/lib/letsencrypt:rw,z {{ img_certbot }} renew --agree-tos
# reload nginx so that any newly renewed certificates are picked up. this replaces
# the blind 24h reload loop that used to run inside the gateway container.
ExecStartPost=podman kill --signal HUP {{ pod }}-{{ container_gateway }}
