[Unit]
Description=Renew Let's Encrypt certificates for mikeandwan.us

[Service]
Type=oneshot
ExecStart=podman run -it --rm --pod {{ pod }} --volume {{ dir_certbot }}:/var/www/certbot:rw,z --volume {{ dir_letsencrypt }}:/etc/letsencrypt:rw,z {{ img_certbot }} renew --agree-tos
