# narrowly focused ansible deployment playbook for www.mikeandwan.us
---
- name: Configure Service Account
  hosts: webservers
  become: true

  tasks:
    - name: Add Service Account
      ansible.builtin.user:
        name: "{{ svcacct_name }}"
        password: "{{ svcacct_pwd | password_hash('sha512') }}"
        update_password: always
        state: present

    # fedora creates a unique subuid range automatically, so need to do this via usermod here

    - name: Enable Linger for Service Account
      ansible.builtin.command:
        cmd: loginctl enable-linger "{{ svcacct_name | quote }}"

    - name: Add SSH key to authorized_keys
      ansible.posix.authorized_key:
        user: "{{ svcacct_name }}"
        key: "{{ lookup('file', lookup('env', 'HOME') + '/.ssh/id_rsa.pub') }}"
        state: present

- name: Configure Gateway
  hosts: webservers
  become: true
  become_user: "{{ svcacct_name }}"
  vars:
    pod: pod-maw-gateway
    img_maw_gateway: "docker.io/aerisg222/maw-gateway:latest"
    img_certbot: "docker.io/certbot/certbot:amd64-latest"
    container_gateway: maw-gateway
    dir_localroot: "{{ lookup('env', 'HOME') }}/maw-gateway/{{ mawenv }}"
    dir_root: "/home/{{ svcacct_name }}"
    dir_approot: "{{ dir_root }}/maw-gateway"
    dir_certs: "{{ dir_approot }}/certs"
    dir_letsencrypt: "{{ dir_approot }}/letsencrypt"
    dir_certbot: "{{ dir_approot }}/certbot-challenge"
    dir_systemd: "{{ dir_root }}/.config/systemd/user"
    dir_scripts: "{{ dir_approot }}/scripts"
    dir_logs: "{{ dir_approot }}/logs"
    dir_letsencrypt_logs: "{{ dir_approot }}/letsencrypt-logs"
    dir_letsencrypt_work: "{{ dir_approot }}/letsencrypt-work"

  tasks:
    - name: Create Directories
      ansible.builtin.file:
        path: "{{ item }}"
        recurse: true
        state: directory
      loop:
        - "{{ dir_certs }}"
        - "{{ dir_letsencrypt }}"
        - "{{ dir_certbot }}"
        - "{{ dir_systemd }}"
        - "{{ dir_scripts }}"
        - "{{ dir_logs }}"
        - "{{ dir_letsencrypt_logs }}"
        - "{{ dir_letsencrypt_work }}"

    - name: Copy Files
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: u+rw
      loop:
        - src: "{{ dir_localroot }}/certs/dhparam2048.pem"
          dest: "{{ dir_certs }}"

    - name: Copy Files for Staging (prod certs will come from certbot)
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: u+rw
      loop:
        - src: "{{ dir_localroot }}/certs/maw-ca.crt"
          dest: "{{ dir_certs }}"
        - src: "{{ dir_localroot }}/certs/maw-media.crt"
          dest: "{{ dir_certs }}"
        - src: "{{ dir_localroot }}/certs/maw-media.key"
          dest: "{{ dir_certs }}"
        - src: "{{ dir_localroot }}/certs/maw-photos.crt"
          dest: "{{ dir_certs }}"
        - src: "{{ dir_localroot }}/certs/maw-photos.key"
          dest: "{{ dir_certs }}"
        - src: "{{ dir_localroot }}/certs/maw-www.crt"
          dest: "{{ dir_certs }}"
        - src: "{{ dir_localroot }}/certs/maw-www.key"
          dest: "{{ dir_certs }}"
      when: mawenv == "staging"

    - name: Pull Container Images
      containers.podman.podman_image:
        name: "{{ item }}"
      loop:
        - "{{ img_maw_gateway }}"
        - "{{ img_certbot }}"

    - name: Create Pod Quadlet (production)
      containers.podman.podman_pod:
        name: "{{ pod }}"
        state: quadlet
        userns: "keep-id:uid=1654"
        ports:
          - "80:8000"
          - "443:8443"
        quadlet_options:
          - "ServiceName={{ pod }}"
      when: mawenv == "prod"

    - name: Create Pod Quadlet (staging)
      containers.podman.podman_pod:
        name: "{{ pod }}"
        state: quadlet
        userns: "keep-id:uid=1654"
        ports:
          - "8000:8000"
          - "8443:8443"
        quadlet_options:
          - "ServiceName={{ pod }}"
      when: mawenv == "staging"

    - name: Create maw-gateway Quadlet
      containers.podman.podman_container:
        name: "{{ container_gateway }}"
        image: "{{ img_maw_gateway }}"
        state: quadlet
        read_only: true
        pod: "{{ pod }}.pod"
        user: 1654
        mount:
          - "type=tmpfs,tmpfs-size=512m,chown=true,destination=/var/cache/nginx"
          - "type=tmpfs,tmpfs-size=16m,chown=true,destination=/var/run"
        volumes:
          - "{{ dir_certs }}:/certs:ro,Z"
          - "{{ dir_letsencrypt }}:/etc/letsencrypt:ro,z"
          - "{{ dir_certbot }}:/var/www/certbot:ro,z"
          - "{{ dir_logs }}:/var/log/nginx:rw,z"
        quadlet_options:
          - "AutoUpdate=registry"
          - "Pull=newer"
          - "ReadOnly=true"
          - |

            [Unit]
            Description=Container for maw-gateway reverse proxy

            [Install]
            WantedBy=multi-user.target default.target

            [Service]
            ExecStartPre=/bin/sleep 20
            Restart=on-failure

    - name: Start and Enable Pod / Containers
      ansible.builtin.systemd_service:
        daemon_reload: true
        name: "{{ pod }}.service"
        scope: user
        enabled: true
        state: restarted

    - name: Create admin scripts
      ansible.builtin.template:
        dest: "{{ dir_scripts }}/{{ item.dest }}"
        src: "{{ item.src }}"
        mode: u+rwx
      loop:
        - { "src": "certbot-init.sh.j2", "dest": "certbot-init.sh" }
        - { "src": "logs.sh.j2", "dest": "logs.sh" }

    - name: Create systemd service and timer for certbot renewal job
      ansible.builtin.template:
        dest: "{{ dir_systemd }}/{{ item.dest }}"
        src: "{{ item.src }}"
        mode: u+rw
      loop:
        - { "src": "certbot-renew.service.j2", "dest": "certbot-renew.service" }
        - { "src": "certbot-renew.timer.j2",   "dest": "certbot-renew.timer" }

    - name: Start and enable certbot job timer
      ansible.builtin.systemd:
        name: "certbot-renew.timer"
        enabled: true
        state: started
        scope: user
        daemon_reload: true
